<div class="component">
    <input class="passwordfield-input" autocomplete="off"
        [type]="isVisiblePassword ? 'text' : 'password'"
        [id]="config.id"
        [name]="config.name"
        [placeholder]="config.placeholder ?? ''"
        [value]="config.value ?? ''"
        [required]="config.required"
        [readOnly]="config.readonly"
        [disabled]="config.disabled">

    <label *ngIf="config.label" [for]="config.id" class="passwordfield-label">{{ config.label }}</label>

    <span class="material-icons passwordfield-icon" (click)='togglePasswordVisible()'>{{ isVisiblePassword ? 'visibility_off' : 'visibility' }}</span>
</div>