<div class="component">
    <!-- Caption -->
    <p *ngIf="elementCaption" class="passwordfield-caption">{{ elementCaption }}</p>

    <input class="passwordfield-input" autocomplete="off"
        [type]="isVisiblePassword ? 'text' : 'password'"
        [id]="elementID"
        [name]="elementName ?? ''"
        [placeholder]="elementPlaceholder ?? ''"
        [value]="elementValue"
        [required]="elementRequired ?? false"
        [readOnly]="elementReadonly ?? false"
        [disabled]="elementDisable ?? false"
        [style.backgroundColor]="config?.backgroundColor ?? ''"
        [style.borderColor]="config?.borderColor ?? ''"
        [style.color]="config?.color ?? ''"
        [style.fontSize]="config?.fontSize ?? ''"
        [style.textAlign]="config?.textAlign ?? ''"
        [(ngModel)]="elementValue"
        (ngModelChange)="elementValueChange.emit($event)"
        [class.passwordfield-input__small]="elementType  === 'small'"
        [class.passwordfield-input__medium]="elementType  === 'medium'"
        [class.passwordfield-input__large]="elementType  === 'large'"
    >

    <!-- Label -->
    <label *ngIf="elementLabel" [for]="elementID" class="passwordfield-label">{{ elementLabel }}</label>

    <!-- Icon -->
    <span class="material-icons passwordfield-icon" (click)='togglePasswordVisible()' [style.marginTop]="elementCaption ? '10px' : ''">{{ isVisiblePassword ? 'visibility_off' : 'visibility' }}</span>
</div>