<div class="component">
    <div class="components__controllers flex-row flex-align-center">
        <ng-container *ngIf="elementLabel">
            <label for="elementID" class="component__label paragraph--medium">{{ elementLabel }}</label>
        </ng-container>

        <ng-container *ngIf="elementAction && elementActionName">
            <button class="component__action" type="button" (click)="onAction()">
                <span class="paragraph--medium">{{ elementActionName }}</span>
            </button>
        </ng-container>
    </div>

    <div class="component__area">
        <input
            class="component__input"
            [class.component__input--small]="elementSize === 'small'"
            [class.component__input--medium]="elementSize === 'medium'"
            [class.component__input--big]="elementSize === 'big'"
            [class.component__input--invalid]="elementInvalid"
            [type]="'text'"
            [id]="elementID"
            [name]="elementName ?? ''"
            [value]="elementValue"
            [placeholder]="elementPlaceholder ?? ''"
            [readOnly]="elementReadonly ?? false"
            [required]="elementRequired ?? false"
            [disabled]="elementDisable ?? false"
            [maxLength]="elementMaxlenght ?? 524288"
            [(ngModel)]="elementValue"
            (input)="onValueChange(elementValue)"
            [ngStyle]="{
                'height': elementConfig?.height || '',
                'border': elementConfig?.border || '',
                'border-radius': elementConfig?.borderRadius || '',
                'font-size': elementConfig?.fontSize || '',
                'font-weight': elementConfig?.fontWeight || '',
                'text-align': elementConfig?.textAlign || '',
                'color': elementConfig?.color || '',
            }"
        >

        <ng-container *ngIf="elementMaxlenght">
            <span class="component__maxlength paragraph--small">{{ elementValue.length }}/{{ elementMaxlenght }}</span>
        </ng-container>
    </div>

    <ng-container *ngIf="elementHelper">
        <div class="component__helper">
            <p class="component__helper-text paragraph--short font--medium" [class.component__helper-text--invalid]="elementInvalid">{{ elementHelper }}</p>
        </div>
    </ng-container>
</div>