@import '@styles/global.scss';
@import '@styles/variables.scss';

.component {
    width: 100%;
    height: auto;
    position: relative;
}

.textfield-controllers {
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-bottom: 4px;

    .textfield-controllers__label {
        color: $colorDark5;
    }

    .textfeild-controllers__action {
        width: auto;
        height: auto;
        appearance: none;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: $transitionMedium;

        &:hover {
            span {
                color: $colorGrey3;
            }
        }

        span {
            color: $colorDark5;
            text-decoration: underline;
            transition: $transitionMedium;
        }
    }
}

.textfield-area {
    width: 100%;
    height: auto;
    position: relative;

    .textfield-area__input {
        width: 100%;
        appearance: none;
        outline: none;
        border: 1px solid $colorLightGrey3;
        border-radius: 10px;
        background-color: $colorWhite;
        color: $colorDark5;
        transition: $transitionMedium;

        &:hover {
            border-radius: 16px;
        }

        &:read-only {
            color: $colorGrey3;
        }

        &:disabled {
            background-color: $colorLightGrey4;

            &:hover {
                border-radius: 10px;
            }

            &:focus,
            &:active,
            &:not(:placeholder-shown) {
                border: 1px solid $colorLightGrey3;
            }
        }

        &:focus,
        &:active,
        &:not(:placeholder-shown) {
            border: 1px solid $colorLightGrey1;
            border-radius: 16px;
        }

        &::placeholder {
            color: $colorGrey4;
        }

        &.size-small {
            height: 32px;
            padding: 0px 16px;
            font-size: $paragraphSmall;
        }

        &.size-medium {
            height: 40px;
            padding: 0px 20px;
            font-size: $paragraphMedium;
        }

        &.size-big {
            height: 60px;
            padding: 0px 24px;
            font-size: $paragraphBig;
        }

        &.invalid {
            border: 1px solid $colorRed;
        }
    }


    .textfield-area__maxlength {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: $colorGrey4;
    }
}

.textfield-helper {
    width: 100%;
    height: auto;
    margin-top: 4px;

    .textfield-helper__text {
        color: $colorGrey4;

        &.invalid {
            color: $colorRed;
        }
    }
}