<div class="component">
    <div class="dropdown flex-column">
        <div class="input-area">
            <input class="dropdown-input" type="text" autocomplete="off" readonly="true"
            [id]="elementID"
            [name]="elementName ?? ''"
            [placeholder]="elementPlaceholder ?? ''"
            [value]="elementValue !== undefined ? (optionsValue && elementValue ? elementValue[optionsValue] : elementValue) : ''"
            [required]="elementRequired ?? false"
            [disabled]="elementDisable ?? false"
            (click)="toggleDropdownVisible()">
            
            <span *ngIf="clearOption" class="material-icons dropdown-icon icon-remove" (click)="clearValue()">close</span>

            <span class="material-icons dropdown-icon" (click)="toggleDropdownVisible()">{{ isDropdownVisible ? 'expand_less' : 'expand_more' }}</span>
    
            <label *ngIf="elementLabel" [for]="elementID" class="dropdown-label">{{ elementLabel }}</label>
        </div>

        <div class="dropdown-area" [style.maxHeight]="filter ? (isDropdownVisible ? '260px' : '0px') : (isDropdownVisible ? '200px' : '0px')">
            <div *ngIf="filter" class="dropdown-filter">
                <input class="dropdown-filter__input" type="text" autocomplete="off" id="dropdown-filter" name="dropdown-filter" (input)="filterOptions($event)">

                <span class="material-icons dropdown-icon icon-search">search</span>
            </div>

            <ul class="dropdown-list flex-column">
                <ng-container *ngIf="filteredOptions.length > 0">
                    <li class="dropdown-list__item flex-row" *ngFor="let item of filteredOptions" (click)="selectOption(item)">
                        <span>{{ optionsLabel ? item[optionsLabel] : item }}</span>
                    </li>
                </ng-container>

                <ng-container *ngIf="filteredOptions.length === 0">
                    <li class="dropdown-list__item flex-row" *ngFor="let item of options" (click)="selectOption(item)">
                        <span>{{ optionsLabel ? item[optionsLabel] : item }}</span>
                    </li>
                </ng-container>

                <span *ngIf="options?.length === 0" class="empty-data">Нет данных</span>
            </ul>
        </div>
    </div>
</div>