@import '@styles/global.scss';
@import '@styles/variables.scss';

.component {
    width: 100%;
    position: relative;
}

.button {
    width: 100%;
    height: 40px;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0px 16px;
    overflow: hidden;
    cursor: pointer;
    transition: $transitionMedium;

    &:hover:not(:disabled) {
        gap: 10px;
        background-color: $colorDark3;
        border-radius: 14px;

        .button-icon {
            transform: rotate(45deg);
        }
    }

    &:disabled {
        cursor: default;
        border-radius: 10px;
        background-color: $colorGrey7;
    }

    &:active,
    &:focus {
        border-radius: 16px;
    }

    .button-icon {
        width: 26px;
        height: 26px;
        background-size: cover;
        transition: $transitionMedium;
    }

    span {
        width: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: $colorWhite;
        text-align: center;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.button-dark {
    background-color: $colorDark2;
    transition: $transitionMedium;

    &:hover:not(:disabled) {
        background-color: $colorDark3;
    }

    span {
        color: $colorWhite;
    }
}