<li *ngIf="sidebarItem" class="sidebar-item flex-column" role="listitem">
    <ng-container *ngIf="sidebarItem.caption">
        <p class="sidebar-item__caption paragraph--medium font--semibold">{{ sidebarItem.caption | translate }}</p>
    </ng-container>

    <button
        type="button"
        class="sidebar-item__button flex-row flex-align-center"
        [class.sidebar-item__button--hidden]="hiddenItem"
        [class.sidebar-item__button--child]="childItem"
        [attr.aria-expanded]="subItemsVisible"
        [attr.aria-controls]="'submenu-' + sidebarItem.label"
        (click)="sidebarItemHandler(sidebarItem.route)"
    >
        <div class="sidebar-item__button-container flex-row flex-align-center">
            <span
                class="sidebar-item__button-icon material-icons-outlined"
                aria-hidden="true"
            >{{ sidebarItem.icon }}</span>

            <ng-container *ngIf="!hiddenItem">
                <p
                    class="sidebar-item__button-label paragraph--medium font--medium" 
                >{{ sidebarItem.label | translate }}</p>
            </ng-container>
        </div>

        <ng-container *ngIf="sidebarItem.children.length > 0 && !hiddenItem">
            <span
                class="sidebar-item__button-icon sidebar-item__button-icon--arrow material-icons-round"
                [style.transform]="subItemsVisible ? 'rotate(90deg)' : 'rotate(0deg)'"
                aria-hidden="true"
            >{{ 'chevron_right' }}</span>
        </ng-container>
    </button>

    <ng-container *ngIf="sidebarItem.children.length > 0 && !hiddenItem && !childItem">
        <ul
            class="sidebar-item__children flex-column"
            [style.marginTop]="subItemsVisible ? '10px' : '0px'"
            [@smoothAnimation]="subItemsVisible ? 'visible' : 'hidden'"
            [id]="'submenu-' + sidebarItem.label"
            role="list"
        >
            <ng-container *ngFor="let subItem of sidebarItem.children">
                <app-sidebar-item [sidebarItem]="subItem" [childItem]="true"></app-sidebar-item>
            </ng-container>
        </ul>
    </ng-container>
</li>