<nav class="sidebar" [@smoothAnimation]="sidebarVisible ? 'visible' : 'hidden'">
    <header class="sidebar__header flex-row flex-align-center">
        <ng-container *ngIf="sidebarVisible">
            <div class="sidebar__brand flex-row flex-align-center">
                <img class="sidebar__brand-image" src="assets/images/icons/app-icon.svg" alt="Logotype">
    
                <p class="sidebar__brand-name title--short font--semibold">Skeinc UI</p>
            </div>
        </ng-container>

        <button type="button" class="sidebar__header-button flex-center-center" (click)="toggleSidebarVisible()">
            <span class="material-icons-round">menu</span>
        </button>
    </header>

    <ul class="sidebar__items flex-column" [class.sidebar__items--hidden]="!sidebarVisible" role="list">
        <ng-container *ngFor="let item of sidebarItems">
            <ng-container *ngIf="item.isVisible">
                <app-sidebar-item [sidebarItem]="item" [hiddenItem]="!sidebarVisible"></app-sidebar-item>
            </ng-container>
        </ng-container>
    </ul>

    <div class="sidebar__settings flex-row">
        <button 
            type="button"
            class="sidebar__settings-button flex-row flex-align-center"
            [class.sidebar__settings-button--hidden]="!sidebarVisible"
        >
            <span
                class="sidebar__settings-icon material-icons-outlined flex-center-center"
                aria-hidden="true"
            >{{ 'settings' }}</span>
    
            <ng-container *ngIf="sidebarVisible">
                <p class="sidebar__settings-label paragraph--big font--medium">{{ 'sidebar.settings' | translate }}</p>
            </ng-container>
        </button>
    </div>
</nav>