@use '@styles/global.scss' as *;
@use '@styles/variables.scss' as *;

.sidebar {
    width: 260px;
    height: 100%;
    position: relative;
    -webkit-box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: $colorWhite;
    padding: 20px 10px;

    &__header {
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid $colorLightGrey1;

        &-button {
            width: 40px;
            height: 40px;
            appearance: none;
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: $transitionMedium;

            &:hover {
                background-color: $colorLightGrey4;
                border-radius: 10px;

                span {
                    color: $colorDark5;
                }
            }

            span {
                font-size: 20px;
                color: $colorDark3;
                transition: $transitionMedium;
            }
        }
    }

    &__brand {
        width: auto;
        height: auto;
        gap: 10px;

        &-image {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }

        &-name {
            color: $colorDark3;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__items {
        width: 100%;
        height: calc(100% - 61px - 61px);
        padding: 40px 0px;
        overflow-y: auto;
        gap: 10px;
        transition: $transitionMedium;

        &--hidden {
            height: calc(100% - 61px - 51px);
        }
    }

    &__settings {
        width: 100%;
        height: auto;
        padding-top: 10px;
        border-top: 1px dashed $colorLightGrey1;

        &-button {
            width: 100%;
            height: 50px;
            appearance: none;
            outline: none;
            border: none;
            border-radius: 6px;
            background-color: transparent;
            flex-shrink: 0;
            padding: 0px 10px;
            gap: 10px;
            cursor: pointer;
            transition: $transitionShort;

            &:hover {
                background-color: $colorLightGrey4;
                border-radius: 10px;

                .button__settings-label {
                    color: $colorDark5;
                }

                .button__settings-icon {
                    color: $colorDark5;
                }
            }
        }

        &-label {
            color: $colorDark3;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: $transitionShort;
        }

        &-icon {
            width: 40px;
            height: 40px;
            font-size: 24px;
            color: $colorDark3;
            transition: $transitionShort;
        }
    }
}