<section class="container">
    <header class="header">

    </header>

    <main class="main">
        <article class="flex-column">
            <p class="title">Text Field</p>
            <div class="article-component">
                <app-text-field [config]="{
                    id: 'textField-defalut',
                    name: 'textField-default',
                    label: 'Login',
                }"></app-text-field>
            </div>
        </article>
    </main>

    <footer class="footer">

    </footer>
</section>