<section class="container">
    <header class="header">

    </header>

    <main class="main">
        <article class="flex-column">
            <p class="title">Text Field</p>
            <div class="article-component">
                <app-text-field [elementID]="'textfield-default'" [elementName]="'textfield-default'" [elementPlaceholder]="'Your name'"></app-text-field>
            </div>
        </article>

        <article class="flex-column">
            <p class="title">Password Field</p>
            <div class="article-component">
                <app-password-field [elementID]="'passwordfield-default'" [elementName]="'passwordfield-default'" [elementPlaceholder]="'Password'"></app-password-field>
            </div>
        </article>

        <article class="flex-column">
            <p class="title">Phone Field</p>
            <div class="article-component">
                <app-phone-field [elementID]="'phonefield-default'" [elementName]="'phonefield-default'" [elementPlaceholder]="'Phone'"></app-phone-field>
            </div>
        </article>

        <article class="flex-column">
            <p class="title">Search Field</p>
            <div class="article-component">
                <app-search-field [elementID]="'searchfield-default'" [elementName]="'searchfield-default'" [elementPlaceholder]="'Search...'"></app-search-field>
            </div>
        </article>

        <article class="flex-column">
            <p class="title">Dropdown</p>
            <div class="article-component">
                <app-dropdown [elementID]="'dropdown-default'" [elementName]="'dropdown-default'" [(elementValue)]="selectedCity" [elementPlaceholder]="'Select a city'" [options]="citiesObject" [optionsLabel]="'name'" [optionsValue]="'name'" [clearOption]="true" [filter]="true"></app-dropdown>
            </div>
        </article>

        <article class="flex-column">
            <p class="title">Textarea</p>
            <div class="article-component">
                <app-textarea [elementID]="'textarea-default'" [elementName]="'textarea-default'" [elementPlaceholder]="'Description'" [elementCols]="30" [elementRows]="5" [resizable]="false"></app-textarea>
            </div>
        </article>

        <article class="flex-column">
            <p class="title">Switch</p>
            <div class="article-component">
                <app-switch [elementID]="'switch-default'" [elementDisable]="false"></app-switch>
            </div>
        </article>

        <article class="flex-column">
            <p class="title">Code Field</p>
            <div class="article-component">
                <app-code-field></app-code-field>
            </div>
        </article>
    </main>

    <footer class="footer">

    </footer>
</section>