@import '@styles/global.scss';
@import '@styles/variables.scss';

.demonstration {
    width: 100%;
    height: 100%;
    position: relative;
}

.documentation {
    width: 100%;
    height: auto;
    gap: 40px;

    .documentation-header {
        width: 100%;
        height: auto;
        gap: 10px;

        .documentation-header__title {
            color: $colorDark2;
        }

        .documentation-header__description {
            color: $colorDark5;
        }
    }

    .documentation-main {
        width: 100%;
        height: auto;
        gap: 20px;

        .documentation-main__article {
            width: 100%;
            height: auto;
            gap: 10px;

            .article-header {
                width: 100%;
                height: auto;

                .article-header__title {
                    color: $colorDark2;
                }
            }

            .article-description {
                width: 100%;
                height: auto;

                p {
                    color: $colorDark5;
                }
            }

            .article-template {
                width: 100%;
                height: auto;
                padding: 30px;
                border-radius: 10px;
                border: 1px solid $colorLightGrey3;
                background-color: $colorWhite;

                .article-template__wrapper {
                    width: 250px;
                    height: auto;
                }
            }

            .article-code {
                width: 100%;
                height: auto;
                position: relative;
                padding: 20px 40px;
                border-radius: 10px;
                border: 1px solid $colorLightGrey3;
                background-color: $colorCodeBackground;

                &:hover {
                    .article-code__copy {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .article-code__formatting {
                    width: 100%;
                    height: auto;
                }

                .article-code__value {
                    font-family: monospace;
                    color: $colorCode;

                    .value-tag {
                        color: $colorTag;
                    }

                    .value-variable {
                        color: $colorVariable;
                    }
                }

                .article-code__copy {
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    top: 16px;
                    right: 16px;
                    appearance: none;
                    outline: none;
                    border: 1px solid $colorGrey1;
                    border-radius: 4px;
                    background-color: transparent;
                    cursor: pointer;
                    transition: $transitionMedium;

                    &:hover {
                        border-radius: 8px;
                        background-color: $colorDark3;
                    }

                    span {
                        font-size: 20px;
                        color: $colorGrey3;
                    }
                }
            }
        }
    }
}

.api {
    width: 100%;
    height: auto;
    gap: 40px;
}