<section class="demonstration">
    <app-tab-menu [elementTabs]="componentTabs" [selectedTabIndex]="0"></app-tab-menu>

    <!-- Определяем шаблоны контента для каждой вкладки -->
    <ng-template #documentationContent>
        <section class="documentation flex-column">
            <header class="header flex-column">
                <h1 class="header-title title-medium font-semibold">{{ 'components.children.textfield.documentation.title' | translate }}</h1>
            
                <p class="header-description paragraph-big font-medium">{{ 'components.children.textfield.documentation.description' | translate }}</p>
            </header>
        </section>
    </ng-template>

    <ng-template #APIContent>
        <section class="api flex-column"></section>
    </ng-template>
</section>