<div class="component">
    <textarea class="textarea"
    [cols]="elementCols"
    [rows]="elementRows"
    [id]="elementID"
    [name]="elementName"
    [placeholder]="elementPlaceholder ?? ''"
    [value]="elementValue"
    [required]="elementRequired"
    [readOnly]="elementReadonly"
    [disabled]="elementDisable"
    [style.height]="config?.height ?? ''"
    [style.backgroundColor]="config?.backgroundColor ?? ''"
    [style.borderColor]="config?.borderColor ?? ''"
    [style.color]="config?.color ?? ''"
    [style.resize]="resizable ? 'both' : 'none'"></textarea>

    <label *ngIf="elementLabel" [for]="elementID" class="textarea-label">{{ elementLabel }}</label>
</div>