@use '@styles/global.scss' as *;
@use '@styles/variables.scss' as *;

.component {
    width: 100%;
    height: auto;
    position: relative;
}

.tab-menu {
    width: 100%;
    height: auto;
    gap: 20px;

    &__tabs {
        width: 100%;
        height: auto;
        border-bottom: 1px solid $colorLightGrey1;
    }

    &__tab {
        width: auto;
        height: auto;
        padding: 0px 24px 12px;
        background-color: transparent;
        gap: 6px;
        cursor: pointer;
        transition: gap 0.3s ease;

        &:hover {
            border-bottom: 1px solid $colorGrey3;
            margin-bottom: -1px;
            gap: 8px;
        }

        &--active {
            border-bottom: 1px solid $colorRed;
            margin-bottom: -1px;

            .tab-menu__icon {
                background: $colorRed;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            .tab-menu__label {
                background: $colorRed;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }
    }

    &__icon {
        font-size: 20px;
        background: $colorDark5;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: $transitionMedium;
    }

    &__label {
        background: $colorDark5;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        letter-spacing: 0.05em;
        transition: $transitionMedium;
    }

    &__content {
        width: 100%;
        height: auto;
    }
}