<div class="component">
    <!-- Caption -->
    <p *ngIf="elementCaption" class="phonefield-caption">{{ elementCaption }}</p>

    <!-- Input -->
    <input class="phonefield-input" autocomplete="off" type="tel"
        [id]="elementID"
        [name]="elementName ?? ''"
        [placeholder]="elementPlaceholder ?? ''"
        [value]="elementValue"
        [required]="elementRequired ?? false"
        [readOnly]="elementReadonly ?? false"
        [disabled]="elementDisable ?? false"
        [appPhoneNumberPattern]="phoneNumberPatterns"
        [style.backgroundColor]="config?.backgroundColor ?? ''"
        [style.borderColor]="config?.borderColor ?? ''"
        [style.color]="config?.color ?? ''"
        [style.fontSize]="config?.fontSize ?? ''"
        [style.textAlign]="config?.textAlign ?? ''"
        [class.phonefield-input__small]="elementType  === 'small'"
        [class.phonefield-input__medium]="elementType  === 'medium'"
        [class.phonefield-input__large]="elementType  === 'large'"
        (input)="onInputHandler($event)"
    >

    <!-- Label -->
    <label *ngIf="elementLabel" [for]="elementID" class="phonefield-label">{{ elementLabel }}</label>
</div>