<div class="component">
    <input class="phonefield-input" autocomplete="off"
        [type]="'tel'"
        [id]="config.id"
        [name]="config.name"
        [placeholder]="config.placeholder ?? ''"
        [value]="config.value ?? ''"
        [required]="config.required"
        [readOnly]="config.readonly"
        [disabled]="config.disabled"
        [appPhoneNumberPattern]="phoneNumberPatterns">

    <label *ngIf="config.label" [for]="config.id" class="phonefield-label">{{ config.label }}</label>
</div>