// Imports
@import 'material-icons/iconfont/material-icons.css';
@import './variables.scss';
@import './fonts.scss';

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Flex position
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}