// Imports
@import 'material-icons/iconfont/material-icons.css';
@import './demonstration.scss';
@import './normalize.scss';
@import './variables.scss';
@import './fonts.scss';
@import './reset.scss';

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Flex position
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

// Titles
.title--large {
    font-size: $titleLarge;
}

.title--big {
    font-size: $titleBig;
}

.title--medium {
    font-size: $titleMedium;
}

.title--small {
    font-size: $titleSmall;
}

.title--short {
    font-size: $titleShort;
}

// Paragraphs
.paragraph--large {
    font-size: $paragraphLarge;
}

.paragraph--big {
    font-size: $paragraphBig;
}

.paragraph--medium {
    font-size: $paragraphMedium;
}

.paragraph--small {
    font-size: $paragraphSmall;
}

.paragraph--short {
    font-size: $paragraphShort;
}

// Font weight
.font--regular {
    font-weight: 400;
}

.font--medium {
    font-weight: 500;
}

.font--semibold {
    font-weight: 600;
}

.font--bold {
    font-weight: 700;
}

// Font Style
.font--normal {
    text-decoration: none;
}

.font--underline {
    text-decoration: underline;
}

.font--strikethrough {
    text-decoration: line-through;
}