// Colors
$colorBlack: rgba(0, 0, 0, 1);
$colorWhite: rgba(255, 255, 255, 1);

$colorRed: rgba(255, 0, 0, 1);
$colorBlue: rgba(0, 0, 255, 1);

$colorDark1: rgba(20, 20, 20, 1);
$colorDark2: rgba(32, 32, 32, 1);
$colorDark3: rgba(60, 60, 60, 1);

$colorGrey1: rgba(100, 100, 100, 1);
$colorGrey2: rgba(125, 125, 125, 1);
$colorGrey3: rgba(150, 150, 150, 1);
$colorGrey4: rgba(175, 175, 175, 1);
$colorGrey5: rgba(200, 200, 200, 1);
$colorGrey6: rgba(225, 225, 225, 1);
$colorGrey7: rgba(245, 245, 245, 1);

$inputBackground: rgba(252, 252, 252, 1);
$inputBackgroundDisabled: rgba(235, 235, 235, 1);
$inputBorder: rgba(230, 230, 230, 1);

// Transitions
$transitionShort: all 0.2s;
$transitionMedium: all 0.3s;
$transitionLong: all 0.4s;