<div class="component">
    <div class="switch-area flex-row"
        [style.backgroundColor]="config?.backgroundColor ?? ''"
        [style.borderColor]="config?.borderColor ?? ''"
        [class.switch-area__small]="elementType  === 'small'"
        [class.switch-area__medium]="elementType  === 'medium'"
        [class.switch-area__large]="elementType  === 'large'"
        [ngClass]="elementDisable ? 'disable' : (elementValue ? 'active' : '')"
        (click)="elementDisable ? '' : toggleSwitchValue()"
    >
        <div class="switch-area__value"
            [style.transform]="elementValue ? ((elementType === 'small' ? 'translateX(22px)' : '') || (elementType === 'medium' ? 'translateX(32px)' : '') || (elementType === 'large' ? 'translateX(42px)' : '')) : 'translateX(0rem)'"
            [style.color]="config?.color ?? ''"
            [class.switch-area__value__small]="elementType  === 'small'"
            [class.switch-area__value__medium]="elementType  === 'medium'"
            [class.switch-area__value__large]="elementType  === 'large'"
        ></div>
    </div>
</div>