<div class="component">
    <input class="searchfield-input" type="text" autocomplete="off"
        [id]="config.id"
        [name]="config.name"
        [placeholder]="config.placeholder ?? ''"
        [value]="config.value ?? ''"
        [required]="config.required"
        [readOnly]="config.readonly"
        [disabled]="config.disabled"
        (input)="onSearchField($event)">

    <label *ngIf="config.label" [for]="config.id" class="searchfield-label">{{ config.label }}</label>

    <span *ngIf="config.value && config.value.length >= 1" class="material-icons searchfield-icon" (click)="clearSearchField()">{{ 'close' }}</span>
</div>