<div class="component">
    <!-- Caption -->
    <p *ngIf="elementCaption" class="textfield-caption">{{ elementCaption }}</p>

    <!-- Input -->
    <input class="searchfield-input" type="text" autocomplete="off"
        [id]="elementID"
        [name]="elementName ?? ''"
        [placeholder]="elementPlaceholder ?? ''"
        [value]="elementValue"
        [required]="elementRequired ?? false"
        [readOnly]="elementReadonly ?? false"
        [disabled]="elementDisable ?? false"
        [style.backgroundColor]="config?.backgroundColor ?? ''"
        [style.borderColor]="config?.borderColor ?? ''"
        [style.color]="config?.color ?? ''"
        [style.fontSize]="config?.fontSize ?? ''"
        [style.textAlign]="config?.textAlign ?? ''"
        [(ngModel)]="elementValue"
        (ngModelChange)="elementValueChange.emit($event)"
        [class.searchfield-input__small]="elementType  === 'small'"
        [class.searchfield-input__medium]="elementType  === 'medium'"
        [class.searchfield-input__large]="elementType  === 'large'"
    >
    
    <!-- Label -->
    <label *ngIf="elementLabel" [for]="elementID" class="searchfield-label">{{ elementLabel }}</label>

    <!-- Icon -->
    <span *ngIf="elementValue && elementValue.length >= 1" class="material-icons searchfield-icon icon-remove" [style.marginTop]="elementCaption ? '10px' : ''" (click)="clearSearchField()">{{ 'close' }}</span>
</div>