<div class="component">
    <input class="searchfield-input" type="text" autocomplete="off"
        [id]="elementID"
        [name]="elementName"
        [placeholder]="elementPlaceholder ?? ''"
        [value]="elementValue"
        [required]="elementRequired"
        [readOnly]="elementReadonly"
        [disabled]="elementDisable"
        (input)="onSearchField($event)"
        [style.height]="config?.height ?? ''"
        [style.backgroundColor]="config?.backgroundColor ?? ''"
        [style.borderColor]="config?.borderColor ?? ''"
        [style.color]="config?.color ?? ''">

    <label *ngIf="elementLabel" [for]="elementID" class="searchfield-label">{{ elementLabel }}</label>

    <span *ngIf="elementValue && elementValue.length >= 1" class="material-icons searchfield-icon" (click)="clearSearchField()">{{ 'close' }}</span>
</div>