@import '@styles/global.scss';
@import '@styles/variables.scss';

.component {
    width: 100%;
    position: relative;
}

.searchfield-input {
    width: 100%;
    appearance: none;
    outline: none;
    border: 1px solid $inputBorder;
    background-color: $inputBackground;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: auto;
    letter-spacing: -0.4px;
    color: $colorDark4;
    transition: $transitionMedium;

    &:hover {
        border-radius: 14px;
    }

    &:read-only {
        color: $colorGrey4;
    }

    &:disabled {
        background-color: $inputBackgroundDisabled;
        
        &:hover {
            border-radius: 10px;
        }
    }

    &:focus,
    &:active,
    &:not(:placeholder-shown) {
        border-radius: 16px;
        box-shadow: 0px 0px 6px 0px rgba(100, 100, 100, 0.1);

        ~ .searchfield-label {
            top: 0%;
            transform: translateY(0%);
            margin: 0px 16px;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
        }
    }

    &::placeholder {
        color: $colorGrey4;
    }
}

.searchfield-label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    margin: 0px 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: auto;
    letter-spacing: -0.4px;
    color: $colorGrey4;
    transition: $transitionMedium;
}

.searchfield-caption {
    font-weight: 500;
    font-size: 12px;
    line-height: auto;
    letter-spacing: -0.4px;
    color: $colorDark4;
    margin-bottom: 5px;
    margin-left: 5px;
}

.searchfield-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 18px;
    color: $colorGrey3;
    cursor: pointer;
    transition: $transitionMedium;

    &:hover {
        color: $colorGrey1;
    }
}

.icon-remove {
    right: 0px;
    margin: 0px 16px;
}

.icon-search {
    left: 0px;
    margin: 0px 10px;
}

.searchfield-input__small {
    height: 32px;
    padding: 10px 32px;
    font-size: 12px;
}

.searchfield-input__medium {
    height: 40px;
    padding: 10px 32px;
}

.searchfield-input__large {
    height: 60px;
    padding: 10px 32px;
}