<div class="component">
    <input class="textfield-input" type="text" autocomplete="off"
        [id]="elementID"
        [name]="elementName"
        [placeholder]="elementPlaceholder ?? ''"
        [value]="elementValue"
        [required]="elementRequired"
        [readOnly]="elementReadonly"
        [disabled]="elementDisable"
        [style.height]="config?.height ?? ''"
        [style.backgroundColor]="config?.backgroundColor ?? ''"
        [style.borderColor]="config?.borderColor ?? ''"
        [style.color]="config?.color ?? ''"
        >

    <label *ngIf="elementLabel" [for]="elementID" class="textfield-label">{{ elementLabel }}</label>
</div>