<nav class="sidebar">
    <header class="sidebar-header flex-row flex-align-center">
        <div class="sidebar-header__brand flex-row flex-align-center">
            <img class="brand-image" src="assets/images/icons/app-icon.svg" alt="Logotype">

            <p class="brand-name title-short font-semibold">Skeinc UI</p>
        </div>

        <button type="button" class="sidebar-header__button flex-center-center">
            <span class="material-icons-round">menu</span>
        </button>
    </header>

    <ul class="sidebar-items flex-column">
        
    </ul>

    <div class="sidebar-settings flex-row">

    </div>
</nav>